/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans);*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	color: #cccccc;
	font-weight: 100;
}
body {
	background-color: #373737;
}
#bg {
	position: absolute;
	width: 100%;
	z-index:-1;
	background: transparent url("../img/bg.png");
	opacity: 0;
}
button, input, textarea, select {
	border: none;
}
textarea {
	resize: none;
}
button:focus, textarea:focus, input:focus, select:focus {
	outline: 0;
}
.wrap {
	width: 960px;
	margin: 0 auto;
}
.nav li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
}
.nav .active a{
	color: #ffffff;
	text-decoration: none;
}
.btn {
	width: 166px;
	height: 40px;
	border: none;
	border-radius: 20px;
	border-top: 4px solid #DBDBDB;
	cursor: pointer;
	color: #000000;
	font-size: 17px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.btn-lg {
	display: block;
	width: 241px;
	height: 51px;
	margin: 30px auto;
	border: none;
	border-radius: 25px;
	border-top: 4px solid #CBE29B;
	cursor: pointer;
	color: #ffffff;
	font-size: 24px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

	background: #9ec648; /* Old browsers */
	background: -moz-linear-gradient(top,  #9ec648 1%, #6c901b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#9ec648), color-stop(100%,#6c901b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9ec648 1%,#6c901b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9ec648 1%,#6c901b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9ec648 1%,#6c901b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9ec648 1%,#6c901b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec648', endColorstr='#6c901b',GradientType=0 ); /* IE6-9 */
}
.btn:hover {
	color: #ffffff;
	border-top: 4px solid #CBE29B;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	background: #9ec648; /* Old browsers */
	background: -moz-linear-gradient(top,  #9ec648 1%, #6c901b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#9ec648), color-stop(100%,#6c901b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9ec648 1%,#6c901b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9ec648 1%,#6c901b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9ec648 1%,#6c901b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9ec648 1%,#6c901b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec648', endColorstr='#6c901b',GradientType=0 ); /* IE6-9 */
}
textarea {
	box-sizing:border-box;
	padding-left: 24px;
	padding-top: 24px;
	height: 200px;
	width: 100%;
	border-radius: 25px;
	font-size: 18px;
	color: #000000;
	border-color: #999999;
	border-top-style: solid;
	border-width: 3px;
}
select {
	cursor: pointer;
	padding-left: 24px;
	height: 46px;
	width: 105%;
	font-size: 18px;
	color: #000000;
	background: transparent url("../img/arrow2.png") no-repeat right;
}
.input {
	box-sizing:border-box;
	padding-left: 24px;
	height: 46px;
	width: 100%;
	border-radius: 25px;
	font-size: 18px;
	color: #000000;
	border-color: #999999;
	border-top-style: solid;
	border-width: 3px;
}
.input:focus, textarea:focus {
	border:3px solid #66CC33;
}
.styled-select {
	margin-top: 20px;
	height: 46px;
	border-radius: 25px;
	font-size: 18px;
	color: #000000;
	border-color: #999999;
	border-top-style: solid;
	border-width: 3px;
	width: 100%;
	height: 46px;
	overflow: hidden;
	background-color: #F7F7F7;
}
@-moz-document url-prefix() {
		.styled-select {
			width: 105%;
		}
		select {
			padding-top: 10px;
		}
	}
}
.styled-select>select:focus {
	background: transparent url("../img/arrow.png") no-repeat right;
	background-color: #F7F7F7;
}
#main-header {
	position: relative;
}
#main-nav {
	position: absolute;
	left: 231px;
	bottom: -13px;
	width: 100%;
}
#title {
	background: transparent url("../img/head2.png") no-repeat;
	width: 960px;
	height: 290px;
}
.groups {
	padding-top: 94px;
	padding-left: 6px;
}
.groups a {
	margin-right: 46px;
	display: inline-block;
	width: 280px;
	height: 290px;
}
#web {
	background: transparent url("../img/web.png") no-repeat;
}
#dev {
	background: transparent url("../img/dev.png") no-repeat;
}
#seo {
	background: transparent url("../img/seo.png") no-repeat;
	margin-right: 0;
}
.about {
	padding-top: 34px;
}
h2.title {
	padding-bottom: 17px;
	text-align: center;
	font-size: 60px;
	font-weight: 100;
	letter-spacing: -2px;
	border-bottom: 1px solid #999999;
}
.content {
	border-top: 1px solid black;
	padding-top: 23px;
}
.about .content {
	padding-left: 89px;
	padding-right: 89px;

}
.content h3 {
	padding-bottom: 14px;
	font-size: 30px;
	font-weight: 100;
}
.content p {
	line-height: 138%;
	padding-bottom: 20px;
	letter-spacing: 1.4px;
}
.about-list {
	padding-left: 20px;
	margin-top: -15px;
	letter-spacing: 1.4px;
}
.themes {
	padding-top: 94px;
}
.f-30 {
	font-size: 30px;
}
.themes .tbl td{
	padding-top: 10px;
}
#request {
	padding-top: 50px;
}
#request .input {
	background-color: #CCCCCC;
}
#send {
	width: 542px;
	margin: 0 auto;
}
#send input,
#send textarea {
	margin-top: 20px;
}
.application {
	padding-top: 50px;
}